html {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(199, 240, 210), rgba(255, 189, 89))
}
  .redes {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

  .titulosaina {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: white;
  }

  .texto{
    font-family: "Passion One", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    text-align: center;
  }

.gradientefondo{
  background-image: linear-gradient(0deg, rgba(199, 240, 210), rgba(255, 189, 89))
}
.center {
  display: flex;
  justify-content: center;
}
.img{
  padding: 5px 10px 5px 10px;
  margin: 2px;
  display: inline-block;
  width:  200px;
  text-align: center;
}

.coordi {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
